<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skycentre.provider.dao.LogDao">
	<resultMap id="BaseResultMap" type="com.skycentre.provider.entity.Logs">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="browser" jdbcType="VARCHAR" property="browser" />
		<result column="ip_address" jdbcType="VARCHAR" property="ipAddress" />
		<result column="previous_page" jdbcType="VARCHAR" property="previousPage" />
		<result column="current_page" jdbcType="VARCHAR" property="currentPage" />
		<result column="access_date_time" jdbcType="BIGINT" property="accessDateTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, browser, ip_address, previous_page, current_page, access_date_time
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from log
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from log
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<!-- 批量插入 -->
	<insert id="insertBatch" parameterType="java.util.List">
		<selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into log (
		browser, ip_address, previous_page, current_page, access_date_time
		)
		values
		<foreach collection ="list" item="log" index="index" separator =",">
		    (
			#{log.browser,jdbcType=VARCHAR},
			#{log.ipAddress,jdbcType=VARCHAR},
			#{log.previousPage,jdbcType=VARCHAR},
			#{log.currentPage,jdbcType=VARCHAR},
			#{log.accessDateTime,jdbcType=INTEGER}
		    )
		</foreach>
	</insert>
	<insert id="insert" parameterType="com.skycentre.provider.entity.Logs">
		insert into log (id, browser, ip_address,
		previous_page, current_page, access_date_time
		)
		values (#{id,jdbcType=INTEGER}, #{browser,jdbcType=VARCHAR},
		#{ipAddress,jdbcType=VARCHAR},
		#{previousPage,jdbcType=VARCHAR}, #{currentPage,jdbcType=VARCHAR}, #{accessDateTime,jdbcType=BIGINT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.skycentre.provider.entity.Logs">
		insert into log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="browser != null">
				browser,
			</if>
			<if test="ipAddress != null">
				ip_address,
			</if>
			<if test="previousPage != null">
				previous_page,
			</if>
			<if test="currentPage != null">
				current_page,
			</if>
			<if test="accessDateTime != null">
				access_date_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="browser != null">
				#{browser,jdbcType=VARCHAR},
			</if>
			<if test="ipAddress != null">
				#{ipAddress,jdbcType=VARCHAR},
			</if>
			<if test="previousPage != null">
				#{previousPage,jdbcType=VARCHAR},
			</if>
			<if test="currentPage != null">
				#{currentPage,jdbcType=VARCHAR},
			</if>
			<if test="accessDateTime != null">
				#{accessDateTime,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.skycentre.provider.entity.Logs">
		update log
		<set>
			<if test="browser != null">
				browser = #{browser,jdbcType=VARCHAR},
			</if>
			<if test="ipAddress != null">
				ip_address = #{ipAddress,jdbcType=VARCHAR},
			</if>
			<if test="previousPage != null">
				previous_page = #{previousPage,jdbcType=VARCHAR},
			</if>
			<if test="currentPage != null">
				current_page = #{currentPage,jdbcType=VARCHAR},
			</if>
			<if test="accessDateTime != null">
				access_date_time = #{accessDateTime,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.skycentre.provider.entity.Logs">
		update log
		set browser = #{browser,jdbcType=VARCHAR},
		ip_address = #{ipAddress,jdbcType=VARCHAR},
		previous_page = #{previousPage,jdbcType=VARCHAR},
		current_page = #{currentPage,jdbcType=VARCHAR},
		access_date_time = #{accessDateTime,jdbcType=BIGINT}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>