<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>cms管理系统</title>
</head>
<FRAMESET id=topFrameSet border=0 frameSpacing=0 rows=95,* frameBorder=0>
	<FRAME name=topframe src="top" noResize
		scrolling=no target="mainFrameSet">
	<FRAMESET id=mainFrameSet border=0 frameSpacing=0 frameBorder=1
		cols=167,100%>
		<FRAME noResize border=0 name=left src="left" frameBorder=0 scrolling=no
			target="right" designtimedragdrop="8" />
		<FRAME name=main src="main"
			frameBorder=0 />
		<NOFRAMES>
			<body>
				<p>This page uses frames, but your browser doesn't support them.</p>
			</body>
		</NOFRAMES>
	</FRAMESET>
</FRAMESET>
</html>