<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta HTTP-EQUIV="expires" CONTENT="0">
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="public/css/management/common.css"
	type="text/css">
<script type="text/javascript" src="public/js/jquery.min.js"></script>
<script language="JavaScript" type="text/JavaScript">
<!--
	function MM_preloadImages() { //v3.0
	  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
	    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
	    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
	}
	
	function MM_swapImgRestore() { //v3.0
	  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
	}
	
	function MM_findObj(n, d) { //v4.01
	  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
	    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
	  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
	  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
	  if(!x && d.getElementById) x=d.getElementById(n); return x;
	}
	
	function MM_swapImage() { //v3.0
	  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
	   if ((x=MM_findObj(a[i]))!=null){
	   document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
	}

	function exitSystem() {		
		if(confirm('你确定退出系统吗?'))
			{
				window.location="logout";
			}
	}
    //函数名称： NavigatePage
    //功能说明： 菜单点击后导航各子页面

    //参数定义： ShowValue --  用户点击的当前菜单项
    //相关变量:  PrevSelectedValue -- 定义为上次用户点击菜单项编号,同时设置页面第一次打开的菜单项编号
    var PrevSelectedValue = 30;     // 默认显示的菜单项编号        		
    function NavigatePage(ShowValue)  {
		window.status = "正在切换功能模块，请稍候......"		
		top.left.location.href='left?menuCode='+ShowValue;  			
		top.main.location.href="main";	
    	top.document.all.mainFrameSet.cols="167,100%";
		window.status = "切换完成";
    }
//-->
</script>
</head>
<body>
	<div id="top_img">
		<img src="public/images/login/top.png">
	</div>
	<div id="top_menu">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<thead>
				<tr id="topMenu">
					<th width="164"><a href="main" target="main">首
							页</a></th>
					<#list menus as menu>
					<th><a href="#" onclick="NavigatePage(${menu.menuCode});">
							${menu.menuName} </a></th>
					</#list>
					<th width="100"><a href="#" onClick="exitSystem();">安全退出</a></th>
				</tr>
			</thead>
		</table>
	</div>
</body>
</html>