html
{
	scrollbar-3dlight-color:#9A0000; /*- 最外左 -*/
	scrollbar-highlight-color:#9A0000; /*- 左二 -*/
	scrollbar-face-color:#B50000; /*- 面子 -*/
	scrollbar-arrow-color:#fff; /*- 箭头 -*/
	scrollbar-shadow-color:#9A0000; /*- 右二 -*/
	scrollbar-darkshadow-color:#9A0000; /*- 右一 -*/
	scrollbar-base-color:#9A0000; /*- 基色 -*/
	scrollbar-track-color:#;/*- 滑道 -*/
}

body
{
	margin:0px;
	text-align:center;
	background-color:#9A0000;
}

td,div,li
{
	font-size:12px;
	letter-spacing:1px;
}

ul,li
{
	margin:0px;
	padding:0px;
	list-style:none;
}

.clear
{
	clear:both;
}


A.ab { COLOR: #FE7800; TEXT-DECORATION: none;}
A.ab:hover { COLOR: #000; TEXT-DECORATION: none;}

A.at { COLOR: #FEC200; TEXT-DECORATION: none;}
A.at:hover { COLOR: #FFF; TEXT-DECORATION: none;}

/* top */
#top_txt
{
	margin:auto;
	width:100%;
	height:65px;
	background-image:url(../../public/images/management/top_1.jpg);
}

.top_logo
{
	float:left;
	margin-left:10px;
	margin-top:5px;
}

.top_text
{
	float:right;
	margin-right:10px;
	margin-top:30px;
}

.color_t
{
	color:#f50;
}

/* left */
.left
{
	width:300px;
	background-image:url(../../public/images/management/left_2.jpg);
}

/* bottom */
#bottom_txt
{
	margin:auto;
	font-family:Arial;
	font-size:9px;
	width:100%;
	height:14px;
	padding-top:2px;
	overflow:hidden;
	color:#FE7800;
	background-image:url(../../public/images/management/bottom_1.jpg);
}