<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../public/css/common.css">
<script type="text/javascript"
	src="../public/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
	function doSearch() {
		var title = $("#title").val();

		url = "search";

		$("#form1").attr("action", url);
		$("#form1").attr("method", "POST");
		$("#form1").submit();
	}
	
	function doAdd(){
		window.location.href = 'add';
	}
</script>
</head>
<body bgcolor="#ECEFF2" text="#000000" leftmargin="10" topmargin="10"
	marginwidth="10" marginheight="10">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<table align="center" cellpadding="0" cellspacing="0"
					class="main_title">
					<tr>
						<td width="67%">◆ 您当前的位置：内容管理 > 博客管理 > 博客列表</td>
						<td width="33%">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<table align="center" cellpadding="2" cellspacing="1" class="bss">
					<form styleId="mainForm" id="form1" name="form1" action="search">
						<tr>
							<th colspan="4">查询博客</th>
						</tr>
						<tr>
							<td width="15%" class="text_1">博客名称</td>
							<td width="35%" class="text_2"><input type="text"
								name="title" id="title" style="width: 150px" /></td>
							<td width="15%" class="text_1">状态</td>
							<td width="35%" class="text_2"><select name="status">
									<option value=0>上架</option>
									<option value=1>下架</option>
							</select></td>
						</tr>
						<tr>
							<td width="15%" class="text_1">开始日期</td>
							<td width="35%" class="text_2"><input id="beginDate"
								name="beginDate" class="easyui-datetimebox" style="width: 150px"
								onFocus="WdatePicker();"></td>
							<td width="15%" class="text_1">结束日期</td>
							<td width="35%" class="text_2"><input id="endDate"
								name="endDate" class="easyui-datetimebox" style="width: 150px"
								onFocus="WdatePicker();"></td>
						</tr>

						<tr>
							<th colspan="4"><input type="submit" class="btn" name="ok"
								value='搜索'> <input type="button" class="btn" name="no2"
								value='重置' onClick="clearTheForm();"></th>
						</tr>
					</form>
				</table>
			</td>
		</tr>
	</table>
	<br />
	<table width="100%" border="0">
		<tr>
			<td>
				<form id="blogsForm">
					<table align="center" cellpadding="2" cellspacing="1" class="bss">
						<tr>
							<th colspan="13">
								<div align="center">
									<div style="float: left; text-align: right; width: 54%">博客列表</div>
									<div style="float: right;">
										<input type="button" name="addBtn" id="addBtn" value="新增"
											onclick="doAdd();" class="btn" />
									</div>
								</div>
							</th>
						</tr>
						<tr>
							<td class="bss_title">类别名称</td>
							<td class="bss_title">标题</td>
							<td class="bss_title">状态</td>
							<td class="bss_title">回复数</td>
							<td class="bss_title">提交时间</td>
							<td class="bss_title">编辑</td>
							<td class="bss_title">删除</td>
						</tr>
						<#if (pageInfo?exists) && (pageInfo.list?exists)> 
						<#list pageInfo.list as blogs>
						<tr>
							<td>${blogs.categoryName}</td>
							<td>${blogs.title}</td>
							<td><#if blogs.status==0> 上架 <#else> 下架 </#if></td>
							<td>${blogs.commentTotal}</td>
							<td>${blogs.createDate?number?number_to_datetime?string('yyyy-MM-dd')}</td>
							<td>
								<a href="add?id=${blogs.id}&page=${pageInfo.pageNum}" /> 
									<img
								src="../public/images/icon-ed.gif" border="0"> 
								</a>
							</td>
							<td>
								<a href="delete?id=${blogs.id}" /> 
									<img
								src="../public/images/icon-del.gif" border="0"> 
								</a>
							</td>
						</tr>
						</#list> 
						</#if>
						<tr>
							<td colspan="8">
								<m:pager pageSize="${blogs.pageSize}"
									pageNo="${blogs.pageNo}" url="category!list.do"
									recordCount="${blogs.recordCount}" />
							</td>
						</tr>
					</table>
				</form> 
				<#import "pagination.html" as my>
				<table width="100%" align="center" cellpadding="2" cellspacing="1"
					class="bss">
					<tr>
						<th><@my.pagination formID="blogsForm"/></th>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>
</html>